
ion-content{
 --background: rgb(0,49,238);
--background: linear-gradient(90deg, rgba(0,49,238,1) 17%, rgba(217,4,4,1) 100%);
}



img {
  border-radius: 16px;
}

.imagem{
  background-image: url('https://s2.glbimg.com/_SNwRBXpexCnbUTYdqcvJ_AXpXw=/0x0:1200x700/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/c/u/JMc0NrTZGew6dSglJMSQ/mario-bros.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.divisor {
  height: 50vh;
  overflow: hidden;
  align-items: center;
}