<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ion-segment value="brasil">
        <ion-segment-button value="brasil">
          <ion-label>Brasil</ion-label>
        </ion-segment-button>

        <ion-segment-button value="china">
          <ion-label>China</ion-label>
        </ion-segment-button>

        <ion-segment-button value="india">
          <ion-label>Índia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="mexico">
          <ion-label>México</ion-label>
        </ion-segment-button>

        <ion-segment-button value="jordania">
          <ion-label>Jordânia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="italia">
          <ion-label>Italia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="peru">
          <ion-label>Peru</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

<!--Cardes da Brasil -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1804177/pexels-photo-1804177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/6580703/pexels-photo-6580703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/6580700/pexels-photo-6580700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Cardes da China -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3262994/pexels-photo-3262994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/13560534/pexels-photo-13560534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/9165079/pexels-photo-9165079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>


   <!--Cardes da Índia -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/5081483/pexels-photo-5081483.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/15107312/pexels-photo-15107312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/9374253/pexels-photo-9374253.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Cardes da Jordânia -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1631665/pexels-photo-1631665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Cardes da Itália -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1701595/pexels-photo-1701595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1809616/pexels-photo-1809616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1797158/pexels-photo-1797158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Cardes da Peru -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3879058/pexels-photo-3879058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/2929906/pexels-photo-2929906.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/259967/pexels-photo-259967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Cardes da México -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/5862694/pexels-photo-5862694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/7053902/pexels-photo-7053902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-card>
    </ion-col>
  </ion-row>






</ion-content>
