

<ion-content [fullscreen]="true">

  <ion-app>
    <ion-menu contentId="main-content">
     <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Meu Content</ion-title>
      </ion-toolbar>
     </ion-header>
     <ion-content class="ion-padding">Personagens do Nintendo ❤ :

      <ion-button class="ion-padding" routerLink="/mario">Mario</ion-button><br>
      <ion-button class="ion-padding" routerLink="/princesa-peach">Princesa Peach</ion-button><br>

      <ion-button class="ion-padding" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button class="ion-padding" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button class="ion-padding" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button class="ion-padding" routerLink="/toad">Toad</ion-button><br>
      <ion-button class="ion-padding" routerLink="/wario">Wario</ion-button><br>
      <ion-button class="ion-padding" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button class="ion-padding" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button class="ion-padding" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button class="ion-padding" routerLink="/donkey-kong">Donkey Kong</ion-button><br>
      <ion-button class="ion-padding" routerLink="/diddy-kong">Diddy Kong</ion-button><br>
      <ion-button class="ion-padding" routerLink="/lakitu">Lakitu</ion-button><br>
      <ion-button class="ion-padding" routerLink="/shy-guy">Shy Guy</ion-button><br>
      <ion-button class="ion-padding" routerLink="/shy-guy">Shy Guy</ion-button><br>




     </ion-content>

















    </ion-menu>
   </ion-app>
</ion-content>
