<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criar Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <!-- Imagem do Balão -->
    <ion-row>
      <ion-col size="6">
        <img
          src="https://images.pexels.com/photos/163314/hot-air-balloon-balloon-sky-hot-air-balloon-ride-163314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </ion-col>

      <!-- Criar Conta -->
      <ion-col size="6">
        <h1>Criar Conta</h1>
        <ion-list>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-input label="Nome" placeholder="Digite seu nome...."></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-input label="Email" placeholder="Digite seu email...."></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


          <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-input label="Senha" type="password" placeholder="Digite sua senha...."></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-input label="Confirme sua senha" type="password" placeholder="Confirme sua senha...."></ion-input>
              </ion-item> <br>



              <ion-button color="success">Criar Conta</ion-button> <br> <br>
        
              Login com <br>
        
              <ion-button color="primary">Fecebook</ion-button> <br>
              <ion-button color="secondary">Twitter</ion-button> <br>
              <ion-button color="danger">Google</ion-button> <br>
            </ion-col>
          </ion-row>

        </ion-list>







      </ion-col>
         











    </ion-row>

  </ion-grid>





</ion-content>